body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #ff69b4;
    color: white;
    padding: 20px;
    text-align: center;
}

#userInput {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userInput input, #userInput select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userInput button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#userInput button:hover {
    background-color: #ff1493;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

.hidden {
    display: none;
}

#section2 {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#section2 button {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#section2 button:hover {
    background-color: #ff1493;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}


footer {
    text-align: center;
    margin-top: 20px;
}
